
<h1> Amount Left: $<%= @total %></h1>
  <%if session[:message] %>
   <p><%= session.delete(:message)%></p>
  <% end %>
<form method="post">
  <p>
    <label>Bet:
      <input name="bet" type="text" />
    </label>
  </p>
  <p>
    <button name="guess" value="1">Guess 1</button>
    <button name="guess" value="2">Guess 2</button>
    <button name="guess" value="3">Guess 3</button>
  </p>
</form>